* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

.bg-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 70px;
}

.thumbnail-container {
  display: flex;
}

.heading {
  font-size: 25px;
  color: #1e293b;
  margin-bottom: 20px;
}

.para {
  font-size: 15px;
  color: #64748b;
  margin-bottom: 20px;
}

.image {
  width: 700px;
  margin-bottom: 20px;
}
